body, html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-image: url("img/background.jpg");
    background-size: cover;
    font-family: 'lato', sens-serif;
}


header #header-menu {
    width: 100%;
    height: 60px;
    background-color: #212121;

}

header #logo {
    margin: -70px 0 0 20px;
    color: #F8F8F8;
    letter-spacing:5px;
    text-align: center;
}

header #logo .logo{
    text-transform:uppercase;
    font-size:20px;
}

#add-form{
    text-align: center;
}

#lagerort {
    top: 60%;
}
#attribute {
    top: 52%;
}

img{
    margin-top: 5%;
    height: 200px;
    width: auto;
}

form {
    width:400px;
    height:auto;
    overflow:hidden;
    position:absolute;
    top:45%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    background:#FFFFFF;
    box-sizing:border-box;
}