#formular-hinzufuegen {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(36,36,36,0.5);
    text-align: center;
    z-index: 1;
}
#formular-hinzufuegen #close-hinzu {
    cursor: pointer;
    position: absolute;
    top:20px;
    left:530px;
}


#formular-hinzufuegen h1, h2, h3, h4{
    text-transform: uppercase;
}

#formular-hinzufuegen h3 {
    padding-top: 50px;
}

#formular-hinzufuegen select {
    padding: 10px;
    width: 400px;
}
#formular-hinzufuegen #new{
    position: absolute;
    left:70%;
    top: 117%;
    visibility: visible;
    cursor: pointer;

}

#formular-hinzufuegen #back{
    position: absolute;
    left:70%;
    top: 80%;
    visibility: hidden;
    cursor: pointer;
}

#formular-hinzufuegen .highlight{
    background:#ff0000;
}

#formular-hinzufuegen .message{
    font-family: 'lato', sens-serif;
    text-align:center;
    background-color:#99FF99;
}

#formular-hinzufuegen .delete{
    display:none;
}



#formular-hinzufuegen form {
    width:600px;
    height:auto;
    overflow:hidden;
    position:absolute;
    top:52%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    background:#FFFFFF;
    box-sizing:border-box;

}

#formular-hinzufuegen #ud_send {
    background:#dadada;
    border:none;
    color:#777;
    width:80%;
    margin:5% 10% 10% 10%;
    cursor:pointer;
}

#formular-hinzufuegen #ud_send:hover{
    background:#666;
    color:#fff;
}

#formular-hinzufuegen form input {
    margin:10% 10% 0 10%;
    width:70%;
    padding:5%;
    display:block;
    border:none;
    border-bottom:1px solid #dadada;
    background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0) 99%, #dadada 1%;
    background:linear-gradient( bottom, rgba(255, 255, 255, 0) 99%, #dadada 1%);
    background-size:0 100%;
    background-repeat:no-repeat;
    color:#dadada;
}

#formular-hinzufuegen input:focus {
    outline:none;
    background-size:100% 100%;
}

#formular-hinzufuegen input:focus:: -webkit-input-placeholder {
    font-size:11px;
    -webkit-transform:translateY(-25px);
    transform:translateY(-25px);
    visibility:visible !important;
}

#formular-hinzufuegen input:focus:valid::-webkit-input-placeholder, input:valid {
    color:#14DC19;
    border-color:#14dc19;
}

#formular-hinzufuegen input:focus:invalid:: -webkit-input-placeholder; input:focus:invalid {
                                                                          color:#c9272a;
                                                                          border-color:#C9272A;
                                                                      }