body, html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background:#F8F8F8 center center no-repeat;
    background-size:cover;
    font-family: 'lato', sens-serif;
}

header #menu {
    width: 100%;
    height: 60px;
    background-color: #212121;

}

header #logo {
    margin: -70px 0 0 20px;
    color: #F8F8F8;
    letter-spacing:5px;
    text-align: center;
}

header #logo .logo{
    text-transform:uppercase;
    font-size:20px;
}
