<!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="style/dashboard-style.css"/>
        <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300' rel='stylesheet' type='text/css'>
	    <meta charset="utf-8">
        <title>Dashboard</title>
    </head>

    <body>

    <header>
        <div id="header-menu">
            <a class="logout-link" href="./logout"><img class="logout-icon" src="img/logout-icon.png"></a>
        </div>
        <div id="logo">
            <a class="logo-link" href="./home"><h1><span class="logo">anti</span>MESS</h1> </a>
        </div>
    </header>

    <nav>
        <ul>
            <li class="menu"><a id = "linkToAdd">Hinzufügen</a></li>
            <li class="menu"><a id = "linkToAnsicht">Lageransicht</a></li>
        </ul>
    </nav>

           <div ng-controller="ContentCtrl">
               <div id="suche">
                   <input name="global" type="text" autofocus required id="global" placeholder="Gegenstand suchen" ng-model="globalsearch">
               </div>
                   <ul>
                     	<li ng-repeat="person in person | filter : globalsearch">
                           <a href="item?picid={{person.ID}}"><img src="{{person.Icon}}" height="200" width="auto"></a>
                       </li>
                   </ul>

           </div>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/MainModule.js"></script>
    <script type="text/javascript" src="js/ctrl/CtrlModule.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/ng-infinite-scroll.min.js"></script>
   	<script type="text/javascript">
   	
   	function get_url_param( name )
   	{
   		name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");

   		var regexS = "[\\?&]"+name+"=([^&#]*)";
   		var regex = new RegExp( regexS );
   		var results = regex.exec( window.location.href );

   		if ( results == null )
   			return "";
   		else
   			return results[1];
   	}
   	
   	document.getElementById("linkToAdd").href = "add.html?id="+get_url_param("id");
   	document.getElementById("linkToAnsicht").href = "storageView?id=" + get_url_param("id");
   	
   	</script>


    </body>
</html>