@charset "utf-8";
/* CSS Document */

body, html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#F8F8F8 center center no-repeat;
	background-size:cover;
	font-family: 'lato', sens-serif;
}

header #menu {
	width: 100%;
	height: 60px;
	background-color: #212121;

}

header #logo {
	margin: -70px 0 0 20px;
	color: #F8F8F8;
	letter-spacing:5px;
	text-align: center;
}

header #logo .logo{
	text-transform:uppercase;
	font-size:20px;
}

/* Suche */
#suche {
	text-align: center;
	margin-top: 10%;
}

#qsuche {
	padding: 10px;
	background-color: white;
	width: 500px;
	border-radius: 20px;
	border: solid 2px gray;
}


/* Globale CSS-Klassen */

article {
	background-color: farbe;
}
.row {
  width:auto;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.columns {
  float:left;
}

/* Small */
@media screen and (max-width:600px) {
  .small-1 {width: 33.33333%;}
}

/* Medium */
@media screen and (min-width:600px) and (max-width:1000px) {
  .medium-1 {width:16.66666%;}
}

/* Large */
@media screen and (min-width:1000px) {
  .large-1 {width:16.66666%;}
}

