<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AntiMess</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <display-name>Jersey Rest Servlet</display-name>
  <servlet-name>RestServlet</servlet-name>
  <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  <init-param>
   <param-name>jersey.config.server.provider.packages</param-name>
   <param-value>com.antimess.resources</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>RestServlet</servlet-name>
  <url-pattern>/rest/*</url-pattern>
 </servlet-mapping> 
  
  <servlet>
    <servlet-name>AntiMessServlet</servlet-name>
    <servlet-class>com.antimess.resources.AntiMessServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>RegServlet</servlet-name>
  	<servlet-class>com.antimess.resources.RegServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AntiMessServlet</servlet-name>
    <url-pattern>/AntiMessServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>